# Assignment 2: Entity Resolution (Part 2)

## Objective

In Assignment 2 (Part 2), you will learn how to use Active Learning to address the entity resolution problem. After completing this assignment, you should be able to answer the following questions:

1. Why Active Learning?
2. How to implement uncertain sampling, a popular query strategy for Active Learning?
3. How to solve an ER problem using Active Learning?

## Active Learning

[Active learning](http://tiny.cc/al-wiki) is a certain type of ML algorithms that can train a high-quality ML model with small data-labeling cost. Its basic idea is quite easy to understand. Consider a typical supervised ML problem, which requires a (relatively) large training dataset. In the training dataset, there may be only a small number of data points that are beneficial to the trained ML model. In other words, labeling a small number of data points is enough to train a high-quality ML model. The goal of active learning is to help us to identify those data points. 


In this assignment, we will develop an Active Learning approach for Entity Resolution. The following figure shows the architecture of an entity resolution solution. It consists of four major steps. **I will provide you the source code for Steps 1, 2, 4. Your job is to implement Step 3.**  

<img src="img/arch.png", width=800/>

![title](img/arch.png)

### Step 1. Read Data

Suppose we get a restaurant dataset `restaurant.csv`. The data has many duplicate restaurants.  For example, the first two rows shown below are duplicated (i.e., refer to the same real-world entity). You can check out all duplicate (matching) record pairs from `true_matches.json`.

In [2]:
import pandas as pd

df = pd.read_csv('restaurant.csv')
data = df.values.tolist()
print("(#Rows, #Cols) :", df.shape)
df.head(5)

(#Rows, #Cols) : (858, 5)

   id                       name  ...         city         type
0   1  arnie morton's of chicago  ...  los angeles     american
1   2  arnie morton's of chicago  ...  los angeles  steakhouses
2   3         art's delicatessen  ...  studio city     american
3   4                 art's deli  ...  studio city        delis
4   5              hotel bel-air  ...      bel air  californian

[5 rows x 5 columns]

### Step 2. Similar Pairs

We first use a similarity-join algorithm to generate similar pairs. 

Below is the code. After running the code, we get 678 similar pairs ordered by their similarity decreasingly.

In [3]:
from a2_utils import *

data = df.values.tolist()
simpairs = simjoin(data)

print("Num of Pairs: ", len(data)*(len(data)-1)/2)
print("Num of Similar Pairs: ", len(simpairs))
print("The Most Similar Pair: ", simpairs[0])

Num of Pairs:  367653.0
Num of Similar Pairs:  678
The Most Similar Pair:  ([170, "mary mac's tea room", '224 ponce de leon ave.', 'atlanta', 'southern/soul'], [169, "mary mac's tea room", '224 ponce de leon ave.', 'atlanta', 'southern'])

We can see that `simjoin` helps us remove the number of pairs from 367653 to 678. But, there are still many non-matching pairs in `simpairs` (see below).

In [4]:
print(simpairs[-1])

([764, "buzio's in the rio", '3700 w. flamingo rd.', 'las vegas', 'seafood'], [542, 'carnival world', '3700 w. flamingo rd.', 'las vegas', 'buffets'])

Next, we will use active learning to train a classifier, and then use the classifier to classify each pair in `simpairs` as either "matching" or "nonmatching".

### Step 3. Active Learning

Given a set of similar pairs, what you need to do next is to iteratively train a classifier to decide which pairs are truly matching. We are going to use [logistic regression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) as our classifier.

#### Initialization

At the beginning, all the pairs are unlabeled. To initialize a model, we first pick up ten pairs and then label each pair using  the `crowdsourcing()` function. You can assume that `crowdsourcing()` will ask a crowd worker (e.g., on Amazon Mechanical Turk) to label a pair. 


`crowdsourcing(pair)` is a function that simulates the use of crowdsourcing to label a pair
  
  - **Input:**	pair – A pair of records 

  - **Output:**	Boolean –  *True*: The pair of records are matching; *False*: The pair of records are NOT matching;

Please use the following code to do the initialization.

In [5]:
from a2_utils import crowdsourcing

# choose the most/least similar five pairs as initial training data
init_pairs = simpairs[:5] + simpairs[-5:]
matches = []
nonmatches = []
for pair in init_pairs:
    is_match = crowdsourcing(pair)
    if is_match == True:
        matches.append(pair)
    else:
        nonmatches.append(pair)
        
print("Number of matches: ", len(matches))
print("Number of nonmatches: ", len(nonmatches))

Are they matching?
[170, "mary mac's tea room", '224 ponce de leon ave.', 'atlanta', 'southern/soul']
[169, "mary mac's tea room", '224 ponce de leon ave.', 'atlanta', 'southern']
Answer: Yes
Are they matching?
[88, 'manhattan ocean club', '57 w. 58th st.', 'new york city', 'seafood']
[87, 'manhattan ocean club', '57 w. 58th st.', 'new york', 'seafood']
Answer: Yes
Are they matching?
[112, 'san domenico', '240 central park s.', 'new york city', 'italian']
[111, 'san domenico', '240 central park s', 'new york', 'italian']
Answer: Yes
Are they matching?
[197, 'fleur de lys', '777 sutter st.', 'san francisco', 'french (new)']
[196, 'fleur de lys', '777 sutter st.', 'san francisco', 'french']
Answer: Yes
Are they matching?
[8, 'cafe bizou', '14016 ventura blvd.', 'sherman oaks', 'french bistro']
[7, 'cafe bizou', '14016 ventura blvd.', 'sherman oaks', 'french']
Answer: Yes
Are they matching?
[709, 'arcadia', '21 e. 62nd st.', 'new york city', 'american (new)']
[66, 'four seasons', '99 e. 52nd st.', 'new york city', 'american (new)']
Answer: No
Are they matching?
[709, 'arcadia', '21 e. 62nd st.', 'new york city', 'american (new)']
[70, 'gramercy tavern', '42 e. 20th st.', 'new york city', 'american (new)']
Answer: No
Are they matching?
[729, 'la grenouille', '3 e. 52nd st.', 'new york city', 'french (classic)']
[60, 'daniel', '20 e. 76th st.', 'new york city', 'french (new)']
Answer: No
Are they matching?
[733, 'menchanko-tei', '39 w. 55th st.', 'new york city', 'japanese']
[76, 'la caravelle', '33 w. 55th st.', 'new york city', 'french (classic)']
Answer: No
Are they matching?
[764, "buzio's in the rio", '3700 w. flamingo rd.', 'las vegas', 'seafood']
[542, 'carnival world', '3700 w. flamingo rd.', 'las vegas', 'buffets']
Answer: No
Number of matches:  5
Number of nonmatches:  5

Here is the only code you need to write in this assignment.

In [6]:
from a2_utils import featurize, crowdsourcing
from sklearn.linear_model import LogisticRegression

labeled_pairs = matches + nonmatches
unlabeled_pairs = [featurize(p) for p in simpairs if p not in labeled_pairs]
unlabel_unfea_pairs = [p for p in simpairs if p not in labeled_pairs]
iter_num = 5
df_predict=[]
labeled_pairs=[featurize(p) for p in labeled_pairs]
y=[1,1,1,1,1,0,0,0,0,0]
test_pairs=unlabeled_pairs

for iter in range(iter_num):
  df_predict=[]
  model=LogisticRegression().fit(labeled_pairs,y)
  df_predict=model.predict(test_pairs)
  df_prob=model.predict_proba(test_pairs)
  df_proba1=pd.DataFrame(df_prob)
  df_proba1.columns=['prob0', 'prob1']
  df_proba1["diff"]=abs(df_proba1["prob1"]-df_proba1["prob0"])
  df_proba1["pairs"]=[x for x in test_pairs]
  df_proba1["original_pairs"]=[x for x in unlabel_unfea_pairs]
  df_proba1=df_proba1.sort_values(ascending=False,by="diff")
  df_proba1=df_proba1.reset_index(drop=True)
  for i in range(10):
    is_match = crowdsourcing(df_proba1["original_pairs"][len(df_proba1)-i-1])
    if is_match == True:
        y.append(1)
        labeled_pairs.append(df_proba1["pairs"][len(test_pairs)-i-1])
        test_pairs.remove(df_proba1["pairs"][len(df_proba1)-i-1])
        unlabel_unfea_pairs.remove(df_proba1["original_pairs"][len(df_proba1)-i-1])
    else:
        y.append(0)
        labeled_pairs.append(df_proba1["pairs"][len(df_proba1)-i-1])
        test_pairs.remove(df_proba1["pairs"][len(df_proba1)-i-1])
        unlabel_unfea_pairs.remove(df_proba1["original_pairs"][len(df_proba1)-i-1])
  print(len(test_pairs))
  

#<-- Write Your Code -->

Are they matching?
[817, 'ritz-carlton cafe (atlanta)', '181 peachtree st.', 'atlanta', 'american (new)']
[180, 'ritz-carlton restaurant', '181 peachtree st.', 'atlanta', 'french (classic)']
Answer: No
Are they matching?
[555, "ralph's diner", '3000 las vegas blvd. s', 'las vegas', 'coffee shops/diners']
[538, "bugsy's diner", '3555 las vegas blvd. s', 'las vegas', 'coffee shops/diners']
Answer: No
Are they matching?
[4, "art's deli", '12224 ventura blvd.', 'studio city', 'delis']
[3, "art's delicatessen", '12224 ventura blvd.', 'studio city', 'american']
Answer: Yes
Are they matching?
[156, 'ciboulette restaurant', '1529 piedmont ave.', 'atlanta', 'french (new)']
[155, 'ciboulette', '1529 piedmont ave.', 'atlanta', 'french']
Answer: Yes
Are they matching?
[130, "virgil's real bbq", '152 w. 44th st.', 'new york city', 'bbq']
[129, "virgil's", '152 w. 44th st.', 'new york', 'american']
Answer: Yes
Are they matching?
[24, 'le chardonnay (los angeles)', '8284 melrose ave.', 'los angeles', 'french bistro']
[23, 'le chardonnay', '8284 melrose ave.', 'los angeles', 'french']
Answer: Yes
Are they matching?
[817, 'ritz-carlton cafe (atlanta)', '181 peachtree st.', 'atlanta', 'american (new)']
[179, 'restaurant  ritz-carlton  atlanta', '181 peachtree st.', 'atlanta', 'continental']
Answer: No
Are they matching?
[42, "yujean kang's", '67 n. raymond ave.', 'pasadena', 'chinese']
[41, "yujean kang's gourmet chinese cuisine", '67 n. raymond ave.', 'los angeles', 'asian']
Answer: Yes
Are they matching?
[217, 'ritz-carlton dining room (san francisco)', '600 stockton st.', 'san francisco', 'french (new)']
[216, 'ritz-carlton restaurant and dining room', '600 stockton st.', 'san francisco', 'american']
Answer: Yes
Are they matching?
[501, "dante's down the hatch", 'underground underground mall  underground atlanta', 'atlanta', 'continental']
[500, "dante's down the hatch  buckhead", '3380 peachtree rd.', 'atlanta', 'continental']
Answer: No
658
Are they matching?
[178, 'ritz-carlton dining room (buckhead)', '3434 peachtree rd. ne', 'atlanta', 'american (new)']
[175, 'cafe  ritz-carlton  buckhead', '3434 peachtree rd.', 'atlanta', 'ext 6108 international']
Answer: No
Are they matching?
[177, 'dining room  ritz-carlton  buckhead', '3434 peachtree rd.', 'atlanta', 'international']
[176, 'ritz-carlton cafe (buckhead)', '3434 peachtree rd. ne', 'atlanta', 'american (new)']
Answer: No
Are they matching?
[26, 'locanda veneta', '8638 w. third st.', 'los angeles', 'italian']
[25, 'locanda veneta', '3rd st.', 'los angeles', 'italian']
Answer: Yes
Are they matching?
[152, 'brasserie le coze', '3393 peachtree rd.', 'atlanta', 'french bistro']
[151, 'brasserie le coze', '3393 peachtree rd.  lenox square mall  near neiman marcus', 'atlanta', 'french']
Answer: Yes
Are they matching?
[545, 'empress court', '3570 las vegas blvd. s', 'las vegas', 'asian']
[137, 'palace court', '3570 las vegas blvd. s', 'las vegas', 'continental']
Answer: No
Are they matching?
[545, 'empress court', '3570 las vegas blvd. s', 'las vegas', 'asian']
[138, 'palace court', '3570 las vegas blvd. s.', 'las vegas', 'french (new)']
Answer: No
Are they matching?
[146, 'abruzzi', '2355 peachtree rd. ne', 'atlanta', 'italian']
[145, 'abruzzi', '2355 peachtree rd.  peachtree battle shopping center', 'atlanta', 'italian']
Answer: Yes
Are they matching?
[603, "mccormick & kuleto's", 'ghirardelli sq.', 'san francisco', 'seafood']
[579, "gaylord's", 'ghirardelli sq.', 'san francisco', 'asian']
Answer: No
Are they matching?
[110, 'river cafe', '1 water st.', 'brooklyn', 'american (new)']
[109, 'river cafe', '1 water st. at the east river', 'brooklyn', 'american']
Answer: Yes
Are they matching?
[168, 'la grotta', '2637 peachtree rd. ne', 'atlanta', 'italian']
[167, 'la grotta', '2637 peachtree rd.  peachtree house condominium', 'atlanta', 'italian']
Answer: Yes
648
Are they matching?
[207, 'lulu restaurant-bis-cafe', '816 folsom st.', 'san francisco', 'mediterranean']
[206, 'lulu', '816 folsom st.', 'san francisco', 'mediterranean']
Answer: Yes
Are they matching?
[741, 'palm too', '840 second ave.', 'new york city', 'steakhouses']
[740, 'palm', '837 second ave.', 'new york city', 'steakhouses']
Answer: No
Are they matching?
[160, 'georgia grille', '2290 peachtree rd.', 'atlanta', 'southwestern']
[159, 'georgia grille', '2290 peachtree rd.  peachtree square shopping center', 'atlanta', 'american']
Answer: Yes
Are they matching?
[195, 'chez michel', '804 north point st.', 'san francisco', 'californian']
[194, 'chez michel', '804 northpoint', 'san francisco', 'french']
Answer: Yes
Are they matching?
[459, 'stage deli', '834 7th ave.  between 53rd and 54th sts.', 'new york', 'delicatessen']
[55, 'carnegie deli', '854 7th ave.  between 54th and 55th sts.', 'new york', 'delicatessen']
Answer: No
Are they matching?
[136, 'le montrachet bistro', '3000 paradise rd.', 'las vegas', 'french bistro']
[135, 'le montrachet', '3000 w. paradise rd.', 'las vegas', 'continental']
Answer: Yes
Are they matching?
[78, 'la cote basque', '60 w. 55th st.', 'new york city', 'french (classic)']
[75, 'la caravelle', '33 w. 55th st.', 'new york', 'french']
Answer: No
Are they matching?
[126, "uncle nick's", '747 ninth ave.', 'new york city', 'greek']
[125, "uncle nick's", '747 9th ave.  between 50th and 51st sts.', 'new york', 'mediterranean']
Answer: Yes
Are they matching?
[148, 'bacchanalia', '3125 piedmont rd.', 'atlanta', 'californian']
[147, 'bacchanalia', '3125 piedmont rd.  near peachtree rd.', 'atlanta', 'international']
Answer: Yes
Are they matching?
[307, 'cafe botanica', '160 central park s', 'new york', 'french']
[81, 'les celebrites', '160 central park s', 'new york', 'french']
Answer: No
638
Are they matching?
[817, 'ritz-carlton cafe (atlanta)', '181 peachtree st.', 'atlanta', 'american (new)']
[176, 'ritz-carlton cafe (buckhead)', '3434 peachtree rd. ne', 'atlanta', 'american (new)']
Answer: No
Are they matching?
[316, 'caffe reggio', '119 macdougal st.  between 3rd and bleecker sts.', 'new york', 'coffee bar']
[313, 'caffe dante', '81 macdougal st.  between houston and bleeker sts.', 'new york', 'coffee bar']
Answer: No
Are they matching?
[78, 'la cote basque', '60 w. 55th st.', 'new york city', 'french (classic)']
[76, 'la caravelle', '33 w. 55th st.', 'new york city', 'french (classic)']
Answer: No
Are they matching?
[270, 'sofi', '3rd st.', 'los angeles', 'mediterranean']
[230, 'cava', '3rd st.', 'los angeles', 'mediterranean']
Answer: No
Are they matching?
[302, 'bruno', '240 e. 58th st.', 'new york', 'italian']
[64, 'felidia', '243 e. 58th st.', 'new york city', 'italian']
Answer: No
Are they matching?
[388, 'la reserve', '4 w. 49th st.', 'new york', 'french']
[76, 'la caravelle', '33 w. 55th st.', 'new york city', 'french (classic)']
Answer: No
Are they matching?
[211, 'mifune', '1737 post st.', 'san francisco', 'japanese']
[210, 'mifune japan center  kintetsu building', '1737 post st.', 'san francisco', 'asian']
Answer: Yes
Are they matching?
[778, "stefano's", '129 fremont st.', 'las vegas', 'italian']
[549, "lillie langtry's", '129 e. fremont st.', 'las vegas', 'asian']
Answer: No
Are they matching?
[759, "wollensky's grill", '205 e. 49th st.', 'new york city', 'steakhouses']
[121, 'smith & wollensky', '201 e. 49th st.', 'new york', 'american']
Answer: No
Are they matching?
[361, "gallagher's", '228 w. 52nd st.', 'new york', 'american']
[294, "ben benson's", '123 w. 52nd st.', 'new york', 'american']
Answer: No
628
Are they matching?
[20, 'katsu', '1972 hillhurst ave.', 'los feliz', 'japanese']
[19, 'restaurant katsu', '1972 n. hillhurst ave.', 'los angeles', 'asian']
Answer: Yes
Are they matching?
[84, 'lespinasse (new york city)', '2 e. 55th st.', 'new york city', 'asian']
[83, 'lespinasse', '2 e. 55th st.', 'new york', 'american']
Answer: Yes
Are they matching?
[144, 'tillerman  the', '2245 e. flamingo rd.', 'las vegas', 'steakhouses']
[143, 'tillerman', '2245 e. flamingo rd.', 'las vegas', 'seafood']
Answer: Yes
Are they matching?
[174, "pano's & paul's", '1232 w. paces ferry rd.', 'atlanta', 'american (new)']
[173, "pano's and paul's", '1232 w. paces ferry rd.', 'atlanta', 'international']
Answer: Yes
Are they matching?
[114, 'second avenue deli', '156 second ave.', 'new york city', 'delis']
[113, 'second avenue deli', '156 2nd ave. at 10th st.', 'new york', 'delicatessen']
Answer: Yes
Are they matching?
[177, 'dining room  ritz-carlton  buckhead', '3434 peachtree rd.', 'atlanta', 'international']
[175, 'cafe  ritz-carlton  buckhead', '3434 peachtree rd.', 'atlanta', 'ext 6108 international']
Answer: No
Are they matching?
[134, 'coyote cafe (las vegas)', '3799 las vegas blvd. s.', 'las vegas', 'southwestern']
[133, 'coyote cafe', '3799 las vegas blvd. s', 'las vegas', 'southwestern']
Answer: Yes
Are they matching?
[164, 'heera of india', '595 piedmont ave.', 'atlanta', 'indian']
[163, 'heera of india', '595 piedmont ave.  rio shopping mall', 'atlanta', 'asian']
Answer: Yes
Are they matching?
[180, 'ritz-carlton restaurant', '181 peachtree st.', 'atlanta', 'french (classic)']
[179, 'restaurant  ritz-carlton  atlanta', '181 peachtree st.', 'atlanta', 'continental']
Answer: Yes
Are they matching?
[140, 'second street grill', '200 e. fremont st.', 'las vegas', 'pacific rim']
[139, 'second street grille', '200 e. fremont st.', 'las vegas', 'seafood']
Answer: Yes
618

**[Algorithm Description].**   Active learning has many [query strategies](http://tiny.cc/al-wiki-qs) to decide which data point should be labeled. You need to implement uncertain sampling. The algorithm trains an initial model on `labeled_pairs`. Then, it iteratively trains a model. At each iteration, it first applies the model to `unlabeled_pairs`, and makes a prediction on each unlabeled pair along with a probability, where the probability indicates the confidence of the prediction. After that, it selects the most uncertain pair (If there is still a tie, break it randomly),  and call the `crowdsroucing()` function to label the pair. After the pair is labeled, it updates `labeled_pairs` and `unlabeled_pairs`, and then retrain the model on `labeled_pairs`.

**[Input].** 
- `labeled_pairs`: 10 labeled pairs (by default)
- `unlabeled_pairs`: 668 unlabeled pairs (by default)
- `iter_num`: 5 (by default)

**[Output].** 
- `model`: A logistic regression model built by scikit-learn

### Step 4. Model Evaluation

After training an model, you can use the following code to evalute it.

In [7]:
import json
from a2_utils import evaluate
import numpy as np
            
sp_features = np.array([featurize(sp) for sp in simpairs])
label = model.predict(sp_features)
pair_label = zip(simpairs, label)

identified_matches = []
for pair, label in pair_label:
    if label == 1:
        identified_matches.append(pair)
        
precision, recall, fscore = evaluate(identified_matches)

print("Precision:", precision)
print("Recall:", recall)
print("Fscore:", fscore)

Precision: 0.96
Recall: 0.9056603773584906
Fscore: 0.9320388349514563

## Submission

Complete the code in A2-2.ipynb, and submit it to the CourSys activity Assignment 2.